<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_blank" class="navbar-brand" href="https://github.com/Tellsea">Tellsea 小海绵</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">SpringBoot + Bootstrap-Table + TKMybatis<span
                        class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="https://blog.csdn.net/qq_38762237">CSDN</a></li>
                <li><a target="_blank" href="https://blog.csdn.net/qq_38762237">项目源码</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">更多项目 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="https://github.com/Tellsea/ssm">SSM 客户管理系统</a></li>
                        <li><a target="_blank" href="https://github.com/Tellsea/springboot-learn">Spring Boot 整合案例</a>
                        </li>
                        <li><a target="_blank" href="https://github.com/Tellsea/spring-cloud-templete">Spring Cloud
                            脚手架</a></li>
                        <li><a target="_blank" href="https://github.com/Tellsea/spring-security-oauth2">Security Oauth
                            授权码模式</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
